<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>developmentAppKey</key>
    <string>CWEYq7EbRGW051Lwj4U6JQ</string>
    <key>developmentAppSecret</key>
    <string>iJg91l4gS7at56xYn7MWAQ</string>
    <key>productionAppKey</key>
    <string>CWEYq7EbRGW051Lwj4U6JQ</string>
    <key>productionAppSecret</key>
    <string>iJg91l4gS7at56xYn7MWAQ</string>
</dict>
</plist>

