<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>developmentAppKey</key>
    <string>YOUR_DEVELOPMENT_KEY</string>
    <key>developmentAppSecret</key>
    <string>YOUR_DEVELOPMENT_SECRET</string>
    <key>productionAppKey</key>
    <string>YOUR_PRODUCTION_KEY</string>
    <key>productionAppSecret</key>
    <string>YOUR_PRODUCTION_SECRET</string>
</dict>
</plist>

